<footer style="display: none;">
  <section
    id="footer"
    style="padding: 0; margin: 2em, 0, 0, 0"
  >
    <p style="text-align: center; font-size: 0.75em">
      <strong>[: $site.title :]</strong><br />
      Fully deterministic simulations on every browser.<br /><br />
      <em>
        © 2017-2023 APG: free man angeli paolo giusto.<br /><br />
        Made with &#10084; using <br />

        <a
          href="https://deno.land/"
          target="_blank"
        >Deno</a>,
        <a
          href="https://deno.land/deploy"
          target="_blank"
        >Deno deploy</a>,
        <a
          href="https://drash.land/"
          target="_blank"
        > Drash</a> 
        on the server and <br />
        
        <a
          href="https://www.picocss.com/"
          target="_blank"
        >Pico Css</a>,
        <a
          href="http://www.threejs.org/"
          target="_blank"
        >Threejs</a>,
        <a
          href="https://www.rapier.rs/"
          target="_blank"
        >Rapier</a>,
        <a
          href="https://github.com/zeh/prando/"
          target="_blank"
        >Prando</a>
        on the client.<br />

        SSR HTML by <a
          href="https://apg-cdn.deno.tng"
          target="_blank"
        >Apg-Tng</a><br />
        First released: [: $page.released :]<br />
        Check <a href="https://apg-dir.deno.dev/">Apg directory</a> for more.
      </em>
    </p>
  </section>
</footer>