
<dialog id="settingsDialog">
    <article>
        <h3 style="text-align: center;">Environment Settings</h3>

        <p>
            <input
              id="viewerSettingsUseMap"
              name="viewerSettingsUseMap"
              type="checkbox"
            />
            <label for="viewerSettingsUseMap">Use env map instead than lights</label><br>
        </p>

        <p>
            <button
              id="openLightsDialogButton"
              type="button"
            >Lights settings</button>
        </p>

        <p>
            <input
              id="viewerSettingsUseExr"
              name="viewerSettingsUseExr"
              type="checkbox"
            />
            <label for="viewerSettingsUseExr">Use exr maps instead than hdr maps</label><br>
        </p>

        <p>
            <input
              id="viewerSettingsUseFloor"
              name="viewerSettingsUseFloor"
              type="checkbox"
            />
            <label for="viewerSettingsUseFloor">Use a floor for shadows</label><br>
        </p>

        <p style="text-align: right;">
            <button
              id="closeSettingsDialogButton"
              type="button"
              style="max-width: 8rem; display: inline;"
            >Close</button>
        </p>

    </article>
</dialog>
