<dialog id="mainMenuDialog">
    <article style="min-width: 16rem">
        <h3 style="text-align: center;">Viewer menu</h3>
        <aside>
            <nav>
                <ul>
                    <li>
                        <button
                          id="openSettingsButton"
                          type="button"
                          style="max-width: 8rem; display: inline;"
                        >Settings</button>
                    </li>
                    <li>
                        <button
                          id="reloadEnvMapButton"
                          type="button"
                          style="max-width: 8rem; display: inline;"
                        >Reload env</button>
                    </li>
                    <li>
                        <button
                          id="reloadGltfButton"
                          type="button"
                          style="max-width: 8rem; display: inline;"
                        >Reload gltf</button>
                    </li>
                    <li>
                        <button
                          id="fullScreenButton"
                          type="button"
                          style="max-width: 8rem; display: inline;"
                        >Fullscreen</button>
                    </li>
                    <li>
                        <button
                          id="screenShotButton"
                          type="button"
                          style="max-width: 8rem; display: inline;"
                        >Screenshot</button>
                    </li>
                    <li>
                        <button
                          id="closeMainMenuButton"
                          type="button"
                          style="max-width: 8rem; display: inline;"
                        >Close</button>
                    </li>
                </ul>
            </nav>
        </aside>

        <a
          id="hiddenScreenShotAnchor"
          style="display: none;"
        >Screenshot Anchor</a>
    </article>
</dialog>

